.form-group{
  margin:auto;
  width:50%;
  padding: 10px;
}
h1{
  text-align: center;
} 
.btn{
  margin-left: 315px;
}
p{
  text-align: center;
}
.texta{
  margin:auto;
  width:50%;
  padding: 10px;
}